<% if signed_in? %>
<% provide(:title, "Profile") %>
<div class="container-fluid">
  <h2> <%= "#{@user.first_name} #{@user.last_name}" %> </h2>
  <div class="page-header">
    <div class="row">
      <div class="span3">
        <div class="thumbnail">
          <img src="/scarlett_ohara.jpeg" alt="">
        </div>
      </div>
  <% if @user.cv.nil? %>
    <%= render 'form_new_user'%>
  <% else %>
    <%= render 'form_not_new_user' %>
  <% end %>
  </div>
</div class="container-fluid">
<!-- if the user is not signed in don't show the page, redirect him to sign in and flash a notice-->
  <% else %>
    <div class="container alert alert-error">
      <p> You have to be signed in!
      </p>
    </div>
<% end%>

